<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{
background-image:url("http://ngobox.org/images/no_standard.png");

}
h6,h5{ color : red;
}
   </style>
</head>
<body>

<br><br>
<br><br>
<br><br>
<br><br>
<div>
   search:<input type="text" ng-model="searchTxt">
 
   <table class="table table-striped">
   <thead>
   <tr>
   <th>Title</th><th>Posted On</th>
   </tr>
   <tr ng-repeat="job in jobs | filter : searchTxt ">
   <td><a href="" ng-click="getJobById(job.id)" ><h5>{{job.jobtitle}}</h5></a></td>
   <td>{{job.postedon | date:'MM/dd/yyyy'}}</td>
   </tr></thead>
   
   
   </table>
   
   
   
   
   </div>
   
   
   <div ng-show="showJobDetails">
   
   <div class="w3-animate-opacity">
        <b><u>Job Details:</u></b><br>
        <b> Job Title:</b> <br><br>{{job.jobtitle}}<br><br>
         <b> Job Description:</b><br><br>{{job.jobdescription}}<br><br>
        <b> Skills required:</b><br><br>{{job.skillsrequired}}<br><br>
        <b> Experience:</b><br><br>{{job.yearsofexp}}<br><br>
        <b> Salary:</b><br><br>{{job.salary}}<br><br>
        <b> Posted On:</b><br><br>{{job.postedon}}<br><br>
        <b> Company:</b><br><br>{{job.companyname}}<br><br>
        <b> Location:</b><br><br>{{job.location}}<br><br>
        
        
        
        </div>
   
   
   </div>
   
   
   
</body>
</html>