<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="app" ng-controller="ProductController">
Enter name of the product: <input type="text" ng-model="product.name"><br>
Enter quantity : <input type="number" ng-model="product.quantity"><br>
Enter price : <input type="text" ng-model="product.price"><br>
Enter Description : <input type="text" ng-model="product.description"><br>
{{calculateTotalPrice()}}
Total Price is : {{totalPrice}}
</body>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script type="text/javascript" src="js/app.js" ></script>
</html>
